<div class="container">
  <h1>Welcome to the land of rad.</h1>
	<form action="/posts/new" method="post">  
		
		<ul id="textform">

		<li class="textbox"><input id="writetitle" type="text" name="title" placeholder="Title"></li>
		<li class="textbox"><textarea id="writebody" name="body" placeholder="Body"></textarea></li>
		<li class="textbox"><input id="writetags" type="text" name="tags" placeholder="tags, related, to, your, post..."></li>
		<input type="submit" value="Post!">
		
		</ul>
	</form>
</div>