<div class="container">
   <div id="header">
  	<h1>Welcome to the land of rad.</h1>
  	<span class="edit"><a href="/">Home...</a></span>
  </div>

	<form action="/posts/update" method="post">  
		
		<ul id="textform">
		<input type="hidden" name="id" value="<%= @post.id %>">
		<li class="textbox"><input id="writetitle" type="text" name="title" placeholder="Title" value="<%= @post.title %>"></li>
		<li class="textbox"><textarea id="writebody" name="body" placeholder="Body"><%= @post.body %></textarea></li>
		
		<li class="textbox">
			<input id="writetags" type="text" name="tags" placeholder="tags, related, to, your, post..." value="<%= @tags %>">
		</li>
		<input type="submit" value="Post!">
		
		</ul>
	</form>
</div>